# git user & Github credentials are set as env variables. See README for more
# info.
[alias]
	    st = status
	    co = checkout
	    c = commit -m
	    a = add
	    di = diff
	    bra = branch -a
	    last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[apply]
	# Detect whitespace errors when applying a patch
	whitespace = fix

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	grep = auto

[core]
	excludesfile = /Users/mercer/.gitignore
	editor = vim

[credential]
		helper = osxkeychain

[user]
	name = John F. Mercer
	email = john.f.mercer@gmail.com
[push]
	default = matching
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
